<div class="container">
  <h1>Today's events</h1>

  <div>
    <span class="time" style="background: limegreen; border: 1px solid limegreen">All day</span>
    <span class="desc">John's birthday</span>
  </div>

  <div>
    <span class="time" style="background: crimson; border: 1px solid crimson">10:30</span>
    <span class="desc">Meeting with the client</span>
  </div>

  <div>
    <span class="time">14:00</span>
    <span class="desc">Lunch with friends</span>
  </div>

  <div>
    <span class="time">18:00</span>
    <span class="desc">Go to the hair dresser</span>
  </div>
</div>
