<div class="container">
  <h1>Today's events</h1>
  <ng-container *ngIf="data.length > 0">
    <div *ngFor="let value of data">
      <span class="time"
            [style.background-color]="getColor(value.eventTypeId)"
            [style.border-color]="getColor(value.eventTypeId)">
        {{
          checkAllDay(value.dateStart, value.dateEnd) === false
          ?
          getDate(value.dateStart).getHours() + ":"  +
            (getDate(value.dateStart).getMinutes() == 0 ? "00" : getDate(value.dateStart).getMinutes())
          :
          "All day"
        }}
      </span>
      <span class="desc">{{value.description}}</span>
    </div>
  </ng-container>
  <div *ngIf="data.length == 0">
    There are no events scheduled for today
  </div>
</div>
